<div id="shoppingCart" style="display: none">
  <% for(let i = 0; i < shoppingCart.products.length; i++){%>

  <li class="product-box-cart">
    <img
      class="product-image-cart"
      src="/images/<%=shoppingCart.products[i].productId.image.path%>"
    />

    <div class="cart-text-div">
      <h3 class="product-title-cart">
        <%=shoppingCart.products[i].productId.name%>
      </h3>

      <p class="product-quantity-cart">
        Qnty <%=shoppingCart.products[i].quantity%>
      </p>

      <p class="product-price-cart">
        <%=shoppingCart.products[i].productId.price%>:-
      </p>

      <div class="incrementor-div">
        <a href="/inc/<%=shoppingCart.products[i]._id%>">+</a>

        <a href="/dec/<%=shoppingCart.products[i]._id%>">-</a>
      </div>
    </div>
    <div class="cart-delete-div">
      <a
        href="/delete/<%=shoppingCart.products[i]._id%>"
        class="fas fa-times"
      ></a>
    </div>
  </li>
  <%}%>
  <div id="shoppingCart-small-total">
    <%if (shoppingCart.total > 0) {%>

    <p id="checkout-total">Total:<%=shoppingCart.total%>:-</p>

    <a href="/checkout">checkout</a>

    <% }else{%>

    <p>Your shoppingcart is empty!</p>

    <%}%>
  </div>
</div>
