<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
 
    <div class="checkout-container">
        <h1> Checkout </h1>
        <%if(error!=""){%>
            <%- include("partials/_error.ejs") %>
        <%}%>
       <div class="shoppingcart-checkout">

        <% for(let i = 0; i < shoppingCart.products.length; i++){%>
            <p><%=shoppingCart.products[i].productId.name%></p>
            <p><%=shoppingCart.products[i].quantity%> QUANTITY</p>
            <p><%=shoppingCart.products[i].productId.price%> PRICE</p>
            <img src="/images/<%=shoppingCart.products[i].productId.image.path%>">
            <a href="/inc/<%=shoppingCart.products[i]._id%>">+</a>
    <a href="/dec/<%=shoppingCart.products[i]._id%>">-</a>
    <a href="/delete/<%=shoppingCart.products[i]._id%>">delete</a>
 
        <%}%>
        <p><%=shoppingCart.total%></p>

       </div>


        <span>Forgot something?</span><a href="/">Keep shopping!</a>
    

    <h2> Information </h2>
    <form action="/checkout" method="POST">
        <input type="email" name="email" id="" placeholder="Email">        
        <input type="text" name="firstName" id="" placeholder="First name">        
        <input type="text" name="lastName" id="" placeholder="Last name">        
        <input type="text" name="addressLine1" id="" placeholder="Address Line 1">        
        <input type="text" name="addressLine2" id="" placeholder="Address Line 2">        

    

    <h2> Delivery options </h2>

  
        <input type="radio" value="79" name="deliveryOption"><p> DHL ombud <strong> 79kr </strong></p>
        <input type="radio" value="129" name="deliveryOption"><p> Budbee hemleverans <strong> 129kr </strong></p>
        <input type="radio" value="149" name="deliveryOption"><p> DHL hemleverans <strong> 149kr </strong></p>
        <button> Confirm purchase </button>
    </form>


   
      
  
</body>
</html>