<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
 
</head>
<body>
    <header>
        <%- include("partials/_category.ejs") %>
    </header>
    <div class="specific-page-container">

    
        <%if(error!=""){%>
            <%- include("partials/_error.ejs") %>
        <%}%>

        <div class="specific-product-container">
        <img id="specificImage" src="/images/<%=product.image.path%>">
    
            <div class="product-information">
                <h1><%=product.name%></h1>         
                <p id="price"><%=product.price%> SEK</p>
                <span><%=product.description%></span>
                <a id="add-to-cart" href="/addToCart/<%=product._id%>"">Add to cart</a>
                <a id="add-to-wishlist" href="/addToWishlist/<%=product._id%>"">Add to Wishlilst</a>
            </div>
        </div>
    </div>
</body>

</html>

