<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
    <link href="/css/main.css" rel="stylesheet" />
    
</head>
<body>
        <%- include("partials/_category.ejs") %>
    <div class="specific-page-container">
 
    
        <%if(error!=""){%>
            <%- include("partials/_error.ejs") %>
        <%}%>

        <div class="specific-product-container">
            <%if(editMode == true){%>
                <img id="specificImage" src="/images/<%=product.image.path%>">
    
                <div class="product-information">
                    <form method="POST" action="/adminEdit/<%=product.id%>" enctype="multipart/form-data">
                    <label for="name">Product name</label>
                    <input name="name" value="<%=product.name%>">      
                    <label for="price">Product price</label>
                    <input name="price" value="<%=product.price%>">
                    <label for="desc">Product description</label>
                    <input name="desc" value="<%=product.description%>">
                    <label for="image">Product image</label>
                    <input type="file" id="image" name="image">    
                    <button type="submit">Save changes</button>
                    </form>
               



            <%}else{%>
            
        <img id="specificImage" src="/images/<%=product.image.path%>">
    
            <div class="product-information">
                <h1><%=product.name%></h1>         
                <p id="price"><%=product.price%> SEK</p>
                <span><%=product.description%></span>
                <a class="add-to-button" id="add-to-cart" href="/addToCart/<%=product._id%>"">Add to cart</a>
                <a class="add-to-button" id="add-to-wishlist" href="/addToWishlist/<%=product._id%>"">Add to Wishlist</a>
                <%if (user != undefined){%>    
      <%if (user.user.role == 'Admin'){%>
        <div id="admin-mode-div">
            <a  href="/adminEdit/<%=product._id%>">Edit product</a>
        <a  href="/adminDelete/<%=product._id%>">Delete product</a>
    </div>
 
    
     <% }%>
     <%}%>
            </div>
        </div>
    </div>
    <%}%>
</body>

</html>
